.button {
	position: relative;
	z-index: 1;

	display: flex;
	justify-content: center;
	align-items: center;
	height: rem(70);

	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);

	transition: all 0.3s ease 0s;
	span {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 2;
		width: 100%;
		height: 100%;
		background-image: linear-gradient(180deg, #bd00ff 0%, rgba(154, 10, 97, 0.89) 99.99%, #ffbd3e 100%);
		box-shadow: inset 0px 4px 4px rgba(253, 255, 132, 0.8);
		border-radius: 39.5px;
	}

	&:active {
		transform: translateY(3px);
	}
	&::before {
		content: "";
		position: absolute;
		top: -3px;
		left: -3px;
		right: -3px;
		bottom: -3px;
		background: linear-gradient(180deg, #e64780, #ac1cc3);
		border-radius: 39.5px;
		z-index: 1;
	}

	p {
		position: relative;
		z-index: 3;
		@include adaptiveValue("padding-inline", 86, 60, 500, 320, 1);
		font-weight: 900;
		font-size: rem(24);
		line-height: math.div(29, 24);
		letter-spacing: 0.085em;
		text-transform: uppercase;

		color: #ffffff;
	}

	&._hold {
		opacity: 0.5;
		pointer-events: none;
	}
}
//========================================================================================================================================================
.preloader {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;

	width: 100%;
	min-height: 100vh;

	overflow: hidden;

	background-image: linear-gradient(360deg, #e65c5c 0%, #2b1176 36.46%, #1e003b 54.17%, #7a36be 70.31%, #040025 100%);

	transition: all 0.3s ease 0s;

	&__block-acces {
	}

	&__acces {
	}

	&__button-box {
		position: absolute;
		bottom: rem(100);
		left: 50%;
		transform: translateX(-50%);
		z-index: 5;
	}

	// .preloader__button

	&__button {
		position: relative;
		z-index: 3;
	}
	&._hide {
		top: -20%;
		opacity: 0;
		visibility: hidden;
	}
}
.acces-preloader {
	position: relative;
	z-index: 3;

	display: flex;
	flex-direction: column;
	max-height: 100vh;
	max-width: 100vw;
	padding-block: rem(60) rem(200);
	padding-inline: rem(25);

	overflow: auto;

	&._hide {
		display: none;
	}

	&__title {
		font-weight: 900;
		@include adaptiveValue("font-size", 32, 26, 500, 320, 1);
		line-height: math.div(39, 32);

		letter-spacing: 0.085em;
		text-transform: uppercase;
		text-align: center;

		color: #ffffff;
		padding-bottom: rem(40);
	}

	// .acces-preloader__text

	&__text {
		padding-bottom: rem(12);
	}

	&__link {
		color: #ebff00;
	}
}

.text-pre {
	font-weight: 900;
	font-size: rem(15);
	line-height: math.div(18, 15);
	text-align: center;
	letter-spacing: 0.085em;
	text-transform: uppercase;

	color: #ffffff;

	&__title {
		text-transform: uppercase;
	}
}

.score {
	&._no-money {
		animation: no-money 0.7s ease 2;
	}
	&._delete-money {
		animation: delete-money 0.7s ease;
	}
	&._anim-add-money {
		animation: add-money 0.5s ease 3;
	}
}

.icon-anim {
	img {
		&._anim-icon-jump {
			animation: jump_icon 5s ease;
		}
		&._anim-icon-scale {
			animation: scale_icon 0.5s ease 2;
		}
		&._anim-icon-rotate {
			animation: rotate_icon 1.5s ease-out 1;
		}
		&._anim-icon-rotate-2 {
			animation: rotate_icon-2 1.5s ease 1;
		}
	}
}

.btn-bg {
	position: relative;
	background-image: linear-gradient(180deg, #bd00ff 0%, rgba(154, 10, 97, 0.89) 99.99%, #ffbd3e 100%);
	box-shadow: inset 0px 4px 4px rgba(253, 255, 132, 0.8);
	border-radius: 39.5px;
	&::before {
		content: "";
		position: absolute;
		top: -3px;
		left: -3px;
		right: -3px;
		bottom: -3px;
		background: linear-gradient(180deg, #e64780, #ac1cc3);
		border-radius: 39.5px;
		z-index: -1;
	}
}

.text {
	font-weight: 900;
	font-size: rem(20);
	line-height: math.div(24, 20);
	letter-spacing: 0.085em;
	&_1 {
		color: #252525;
	}
	&_2 {
		color: #fff;
	}
}
.text-game {
	p {
		@include adaptiveValue("font-size", 20, 16, 800, 550, 1);
		line-height: math.div(24, 20);
		letter-spacing: 0.05em;

		background-image: linear-gradient(180deg, #ebff00 0%, #ffa800 100%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;

		filter: drop-shadow(0px 4px 10px rgba(250, 255, 0, 0.62));
	}
}

//========================================================================================================================================================
