//====================================================================================================
.main {
	// .main__body

	&__body {
		position: relative;
		z-index: 3;
		display: grid;
		grid-template-rows: 50px 1fr;
		row-gap: rem(5);

		min-height: 100vh;
		@include adaptiveValue("padding-top", 50, 20, 370, 320, 1);
		padding-inline: rem(10);
	}

	&__privacy {
		position: absolute;
		top: rem(5);
		left: rem(5);
		z-index: 3;
		-webkit-tap-highlight-color: rgba(0, 0, 0, 0);

		transition: all 0.3s ease 0s;

		p {
			background-image: linear-gradient(180deg, #ffffff 0%, #e2e2e2 100%);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

			@include adaptiveValue("font-size", 20, 18, 800, 550, 1);
			line-height: math.div(24, 20);
		}

		&:active {
			transform: translateY(3px);
		}
	}

	&__cards {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
		justify-items: center;
	}

	&__card {
		display: flex;
		align-items: center;
		@include adaptiveValue("max-width", 197, 140, 360, 320, 1);
		img {
			width: 100%;
		}
	}

	&__empty {
		position: relative;
		width: 100%;
	}

	&__circle-game {
		position: absolute;
		top: rem(-170);
		left: rem(-220);
		width: rem(530);
		max-width: rem(530);
		img {
			width: 100%;
		}
		@media (min-height: em(820)) {
			left: 50%;
			transform: translateX(-50%);
		}
	}
	&__game-title {
		position: absolute;
		top: rem(160);
		left: 60%;
		transform: translate(-50%, 0);
		white-space: nowrap;
		padding: rem(20);
		@media (min-height: em(820)) {
			top: 50%;
			transform: translate(-50%, -50%);
		}
	}

	// .main__header

	&__header {
	}

	&__slider {
		position: relative;
		padding-left: rem(40);
		padding-bottom: rem(40);
		align-self: center;
		z-index: 2;
		@media (min-height: em(700)) {
			padding-bottom: rem(0);
		}
	}

	&__item {
		position: relative;
		display: grid;
		justify-items: center;
		row-gap: rem(15);
		perspective: 500px;
		transform-style: preserve-3d;
		perspective-origin: bottom;
		-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
		&._disabled {
			pointer-events: none;
		}
	}

	&__image {
		position: relative;
		._disabled & {
			&::before {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background-color: rgba(23, 20, 66, 0.79);
				border-radius: rem(20);
			}
		}

		img {
			max-width: rem(182);
		}
		&_pin {
		}
	}

	&__disable-box {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);

		display: grid;
		justify-items: center;
		row-gap: rem(10);
	}
	&__icon {
		img {
			filter: drop-shadow(-1px 10px 15px rgba(255, 214, 0, 0.43));
		}
	}
}

.header {
	// .header__body

	&__body {
		display: flex;
		justify-content: center;
		align-items: center;
		@include adaptiveValue("column-gap", 20, 8, 370, 320, 1);
	}

	// .header__privacy-box

	&__privacy-box {
	}

	// .header__privacy

	&__privacy {
		width: rem(144);
		height: rem(43);

		font-weight: 900;
		font-size: rem(12);
		line-height: 1.25;
		letter-spacing: 0.085em;
		text-transform: uppercase;

		color: #ffffff;

		white-space: nowrap;
	}

	&__btn-home {
		display: flex;
		justify-content: center;
		align-items: center;
		width: rem(144);
		height: rem(43);

		font-weight: 900;
		font-size: rem(20);
		line-height: 1.2;
		letter-spacing: 0.085em;
		text-transform: uppercase;

		color: #ffffff;
	}

	// .header__score

	&__score {
	}
}

.title-game {
	font-weight: 900;
	font-size: rem(36);
	line-height: math.div(44, 36);
	text-align: center;
	letter-spacing: -0.02em;
	text-transform: uppercase;
	span {
		&:first-child {
			background-image: linear-gradient(180deg, #3300ff 0%, #644dc2 100%);
		}
		&:last-child {
			background-image: linear-gradient(180deg, #0077ff 0%, #00c2ff 100%);
		}
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		-webkit-text-stroke: 1.2px #fff;
		filter: drop-shadow(-1px 4px 4px #953005);
	}
}

.score-box {
	// .score-box__body

	&__body {
		position: relative;
		display: flex;
		align-items: center;
	}

	// .score-box__icon

	&__icon {
		position: absolute;
		top: 45%;
		left: rem(-20);
		transform: translateY(-50%);
		img {
			@include adaptiveValue("max-width", 75, 60, 500, 320, 1);
		}
		&_win {
			img {
				@include adaptiveValue("max-width", 56, 46, 500, 320, 1);
			}
		}
	}

	// .score-box__score

	&__score-box {
		display: flex;
		justify-content: center;
		align-items: center;
		width: rem(179);
		height: rem(43);
	}

	&__score {
		font-weight: 900;
		font-size: rem(20);
		line-height: math.div(24, 20);
		letter-spacing: 0.085em;

		color: #ffffff;
		&._txt-small {
			font-size: rem(10);
		}
		&._txt-middle {
			font-size: rem(16);
		}
	}
}

//========================================================================================================================================================
.drum {
	// .drum__body

	&__body {
		position: relative;
		z-index: 3;
		display: flex;
		flex-direction: column;

		min-height: 100vh;

		padding: rem(45) rem(19) 0 rem(19);
	}

	&__bacground {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		&::before {
			content: "";
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: rem(540);
			height: rem(540);
			border-radius: 50%;
			background: #f3be00;
			filter: blur(75px);
		}
	}

	// .drum__header

	&__header {
		margin-bottom: rem(30);
		@media (min-height: 900px) {
			margin-bottom: rem(150);
		}
	}

	&__title {
		font-weight: 900;
		font-size: rem(36);
		line-height: 1;
		text-align: center;
		letter-spacing: -0.02em;
		text-transform: uppercase;

		background: linear-gradient(180deg, #ffa800 0%, #ff4d00 100%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;

		-webkit-text-stroke: 1.5px #fff;
		filter: drop-shadow(-1px 4px 4px #953005);
	}

	&__circle {
		margin-bottom: rem(15);
	}

	&__button-box {
		position: relative;
		z-index: 10;
		display: flex;
		justify-content: center;
		margin-top: rem(70);
		margin-bottom: rem(10);
	}

	&__button {
		position: relative;
		@include adaptiveValue("width", 321, 300, 370, 320, 1);
		@include adaptiveValue("height", 79, 70, 370, 320, 1);

		-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
		&::before {
			content: "";
			position: absolute;
			top: -5px;
			left: -5px;
			right: -5px;
			bottom: -5px;
			background: linear-gradient(180deg, #e6ac47 0%, #c36c1c 100%);
			border-radius: 45px;
			z-index: 1;
		}

		span {
			position: absolute;
			top: 0;
			left: 0;
			z-index: 2;
			width: 100%;
			height: 100%;
			background-image: linear-gradient(180deg, #ffa800 0%, #ffbd3e 100%);
			box-shadow: inset 0px 4px 4px rgba(253, 255, 132, 0.8);
			border-radius: 39.5px;
		}
		p {
			position: relative;
			z-index: 3;
			font-weight: 900;
			font-size: 20px;
			line-height: 1.2;
			letter-spacing: 0.085em;
			text-transform: uppercase;

			color: #ffffff;
		}

		&:active {
			transform: scale(0.97);
		}
		&._hold {
			opacity: 0.7;
			pointer-events: none;
		}
	}
}
.header-drum {
	// .header-drum__body

	&__body {
		display: flex;
		justify-content: space-between;
		margin-bottom: rem(50);
	}

	// .header-drum__button-home

	&__button-home {
		position: relative;
		z-index: 10;
		display: flex;
		justify-content: center;
		align-items: center;

		width: rem(78);
		height: rem(64);

		background-image: radial-gradient(50% 50% at 50% 50%, #8000ff 0%, #b400c4 100%);
		border: 1.71513px solid rgba(255, 255, 255, 0.84);
		box-shadow: 0px 3.43027px 3.43027px rgba(34, 12, 12, 0.25),
			inset 0px 1.71513px 9.43323px 3.43027px rgba(22, 22, 22, 0.92);
		border-radius: 32px;
		span {
			position: relative;
			top: 2px;
			display: block;
			width: rem(44);
			height: rem(44);
			background-image: url("@img/icons/arrow.png");
			background-position: center;
			background-size: contain;
			background-repeat: no-repeat;
		}
	}

	// .header-drum__title

	&__title {
		text-align: right;
	}
}

.circle {
	// .circle__body

	&__body {
		position: relative;
		display: flex;
		justify-content: center;
	}

	// .circle__arrow

	&__arrow {
		position: absolute;
		top: rem(-90);
		left: 50%;
		transform: translateX(-50%);
		width: rem(93);
		height: rem(77);
	}

	&__dot {
		position: absolute;
		bottom: rem(-5);
		z-index: 5;
		left: 50%;
		transform: translateX(-50%);
		width: 5px;
		height: 5px;
		background-color: red;
	}

	// .circle__drum-box

	&__drum-box {
		position: relative;
		min-width: 310px;
		width: 310px;
		height: 310px;
		margin-top: rem(70);
	}

	// .circle__drum

	&__drum {
		position: relative;
		width: 100%;
		height: 100%;
		transition: transform 2s ease 0s;
		img {
			width: 100%;
		}
	}

	&__circle-1 {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 430px;
		img {
			width: 100%;
		}
	}
	&__circle-2 {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 360px;
		img {
			width: 100%;
		}
	}
	&__circle-3 {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 51px;
		img {
			width: 100%;
		}
	}

	// .circle__values

	&__values {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
	// .circle__value

	&__value {
		position: absolute;
		padding: 34px 0 34px 26px;

		user-select: none;

		// .circle__value_1

		&_1 {
			transform: rotate(120deg);
			top: -2px;
			right: 50px;
		}

		// .circle__value_2

		&_2 {
			transform: rotate(150deg);
			top: 44px;
			right: 2px;
		}

		// .circle__value_3

		&_3 {
			transform: rotate(180deg);
			top: 108px;
			right: -16px;
		}

		// .circle__value_4

		&_4 {
			transform: rotate(210deg);
			top: 171px;
			right: 4px;
		}

		// .circle__value_5

		&_5 {
			transform: rotate(240deg);
			top: 225px;
			right: 53px;
		}

		// .circle__value_6

		&_6 {
			transform: rotate(270deg);
			top: 242px;
			right: 120px;
		}

		// .circle__value_7

		&_7 {
			transform: rotate(300deg);
			top: 224px;
			right: 187px;
		}

		// .circle__value_8

		&_8 {
			transform: rotate(330deg);
			top: 171px;
			right: 220px;
		}

		// .circle__value_9

		&_9 {
			transform: rotate(360deg);
			top: 107px;
			right: 253px;
		}

		// .circle__value_10

		&_10 {
			transform: rotate(30deg);
			top: 42px;
			right: 235px;
		}

		// .circle__value_11

		&_11 {
			transform: rotate(60deg);
			top: -2px;
			right: 174px;
		}

		// .circle__value_12

		&_12 {
			transform: rotate(90deg);
			top: -24px;
			right: 119px;
		}
	}
}

//========================================================================================================================================================
.slot {
	// .slot__body

	&__body {
		min-height: 100vh;
		position: relative;
	}

	&__game {
		display: flex;
		align-items: center;
	}

	// .slot__box

	&__box {
		height: 100vh;
		width: 100vw;
		margin: 0 auto;
		position: relative;
		display: flex;
		flex-direction: column;
	}

	// .slot__cont

	&__cont {
		position: relative;
		flex: 1 1 auto;

		display: grid;
		grid-template-rows: rem(95) 1fr rem(250);
		row-gap: rem(20);
		z-index: 2;
		@media (max-width: em(370)) or (max-height: em(740)) {
			row-gap: rem(5);
		}
	}

	&__backgrounds {
		position: absolute;
		bottom: rem(-500);
		left: 50%;
		transform: translateX(-50%);
	}

	.header {
		@include adaptiveValue("padding-top", 40, 10, 370, 320, 1);
	}

	// .slot__controls

	&__controls {
	}
}

.controls-slot {
	position: relative;
	flex: 1 1 auto;
	display: flex;
	align-items: flex-end;

	// .controls-slot__body

	&__body {
		position: absolute;
		top: 0;
		left: 50%;
		transform: translateX(-50%);
		z-index: 3;
		display: flex;
		flex-direction: column;
		align-items: center;
		row-gap: rem(20);
		width: 100%;

		padding-inline: rem(30);
		padding-bottom: rem(10);
		@media (max-width: em(650)) {
			top: rem(10);
		}
	}

	// .controls-slot__bet-box

	&__bet-box {
	}

	&__button-box {
		display: flex;
		justify-content: center;
	}

	// .controls-slot__button-spin

	&__button-spin {
		position: relative;
		@include adaptiveValue("width", 321, 300, 370, 320, 1);
		@include adaptiveValue("height", 79, 70, 370, 320, 1);

		-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
		&::before {
			content: "";
			position: absolute;
			top: -5px;
			left: -5px;
			right: -5px;
			bottom: -5px;
			background: linear-gradient(180deg, #e6ac47 0%, #c36c1c 100%);
			border-radius: 45px;
			z-index: 1;
		}

		span {
			position: absolute;
			top: 0;
			left: 0;
			z-index: 2;
			width: 100%;
			height: 100%;
			background-image: linear-gradient(180deg, #ffa800 0%, #ffbd3e 100%);
			box-shadow: inset 0px 4px 4px rgba(253, 255, 132, 0.8);
			border-radius: 39.5px;
		}
		p {
			position: relative;
			z-index: 3;
			font-weight: 900;
			font-size: 20px;
			line-height: 1.2;
			letter-spacing: 0.085em;
			text-transform: uppercase;

			color: #ffffff;
		}

		&:active {
			transform: scale(0.97);
		}
		&._hold {
			opacity: 0.7;
			pointer-events: none;
		}
	}
}

.title-controls {
	font-weight: 900;
	font-size: rem(16);
	line-height: math.div(19, 16);
	letter-spacing: 0.085em;
	text-transform: uppercase;
	text-align: center;

	background: linear-gradient(180deg, #ffd600 0%, #f36600 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.bg-box {
	display: flex;
	justify-content: center;
	align-items: center;

	background: linear-gradient(180deg, #bd00ff 0%, rgba(154, 10, 97, 0.89) 99.99%, #ffbd3e 100%);
	box-shadow: inset 0px 4px 4px rgba(253, 255, 132, 0.8);
	border-radius: 17px;

	font-weight: 700;
	font-size: rem(17);
	line-height: math.div(21, 17);
	letter-spacing: 0.085em;

	color: #ffffff;
}

.bet-box {
	// .bet-box__body

	&__body {
		display: flex;
		align-items: center;
		justify-content: center;
		column-gap: rem(12);
		transition: opacity 0.3s ease 0s;
		@media (min-width: em(500)) {
			column-gap: rem(25);
		}
		&._hold {
			opacity: 0.5;
			pointer-events: none;
		}
	}

	// .bet-box__minus

	&__minus,
	&__plus {
		display: flex;
		justify-content: center;
		align-items: center;
		@include adaptiveValue("width", 70, 60, 370, 320, 1);
		@include adaptiveValue("height", 82, 72, 370, 320, 1);

		background-image: linear-gradient(180deg, #bd00ff 0%, rgba(154, 10, 97, 0.89) 99.99%, #ffbd3e 100%);
		box-shadow: inset 0px 4px 4px rgba(253, 255, 132, 0.8);
		border-radius: 17px;

		-webkit-tap-highlight-color: rgba(0, 0, 0, 0);

		transition: transform 0.3s ease 0s;
		&:active {
			transform: scale(0.9);
		}

		p {
			font-weight: 700;
			font-size: rem(20);
			line-height: math.div(24, 20);

			color: #fff;
		}
	}
	&__minus {
		p {
			position: relative;
			top: rem(-1);
		}
	}

	&__score-box {
		display: grid;
		row-gap: rem(5);
		@include adaptiveValue("height", 82, 72, 370, 320, 1);
	}

	// .bet-box__score

	&__score {
		@include adaptiveValue("padding-inline", 60, 45, 370, 320, 1);
		min-width: rem(170);
		text-align: center;
	}

	// .bet-box__plus

	&__plus {
	}
}

//========================================================================================================================================================
#slot {
	display: flex;
	justify-content: center;

	width: 100%;
}
#reels {
	position: relative;
	display: flex;
	justify-content: center;
	width: 95vw;
	height: calc((3 / 3) * 100vw);
	max-height: 100vw;
	max-width: calc(2.2 * (90vh - 50px));

	@media (max-height: em(740)) {
		width: 80vw;
		max-height: 77vw;
	}
	@media (min-width: em(700)) {
		width: 90vw;
		max-height: 90vw;
	}
}
.reels {
	&_1 {
		background-color: #ba7400;
		box-shadow: inset -1px 14px 24px 8px rgba(34, 21, 21, 0.76);
		border-radius: 20px;
		border: 3px solid #ffbb35;
	}
	&_2 {
		width: 93vw !important;
		background-image: linear-gradient(180deg, #2aa800 0%, #104200 100%);
		box-shadow: inset -1px 14px 24px 8px rgba(34, 21, 21, 0.76);
		border-radius: 20px;
		border: 3px solid rgb(255, 187, 53);
		@media (max-height: em(740)) {
			width: 72vw !important;
			max-height: 77vw !important;
		}
		@media (min-width: em(700)) {
			width: 90vw !important;
			max-height: 90vw !important;
		}
	}
}

.reel {
	position: relative;
	overflow: hidden;
	width: 30%;
	height: 100%;

	&:not(:last-child) {
		&::before {
			content: "";
			position: absolute;
			top: 0;
			right: 0;
			width: 3px;
			height: 100%;
			background-image: radial-gradient(91.39% 11843999.4% at 98.89% 0%, #7a6e27 0%, #91600d 0.01%, #d2c26b 100%);
		}
	}
	&_2 {
		width: 33%;
	}

	.icons {
		text-align: center;
		padding-top: rem(5);
		img {
			width: calc(100% - 5px);
			margin: -3px 0 25px -3px;
			height: auto;

			transform: translate3d(0, 0, 0);
			@media (max-height: em(740)) {
				margin: -3px 0 20px -3px;
			}
		}
	}
}

#slot.inverted .reel {
	transform: scaleY(-1);
}

#slot.inverted .reel > .icons > img {
	transform: scaleY(-1);
}

//====================================================================================================
@keyframes no-money {
	100% {
		color: #ff5900;
		transform: scale(1.1);
	}
}
@keyframes delete-money {
	100% {
		color: #ff6f00;
		transform: translateY(3px);
	}
}
@keyframes add-money {
	100% {
		color: #ddf12a;
		transform: translateY(-3px);
	}
}

@keyframes jump_icon {
	0%,
	69% {
		transform: translate(0, 0);
	}
	77% {
		transform: translate(0, -10px);
	}
	80% {
		transform: translate(0px, 0px);
	}
	82% {
		transform: translate(0px, -6px);
	}
	85% {
		transform: translate(0px, 0px);
	}
	87% {
		transform: translate(0px, -2px);
	}
	90% {
		transform: translate(0px, 0px);
	}
	100% {
		transform: translate(0px, 0px);
	}
}
@keyframes scale_icon {
	0% {
		transform: scale(1);
	}

	100% {
		transform: scale(1.2);
	}
}
@keyframes rotate_icon {
	0% {
		transform: rotateY(0deg);
	}
	100% {
		transform: rotateY(360deg);
	}
}
@keyframes rotate_icon-2 {
	0% {
		transform: rotate(0deg);
		right: 0;
	}
	70% {
		transform: rotate(-360deg);
		right: 100px;
	}
	100% {
		transform: rotate(0deg);
		right: 0;
	}
}

@keyframes btn {
	0%,
	92%,
	100% {
		transform: translateZ(0);
		filter: drop-shadow(0 0 0 #002263);
	}
	96% {
		transform: translateZ(30px);
		filter: drop-shadow(0 0 10px #175cdd);
	}
}

@keyframes btn-anim-1 {
	0%,
	88%,
	100% {
		transform: rotateY(0);
	}
	94% {
		transform: rotateY(-180deg);
	}
}

@keyframes btn-anim-2 {
	0%,
	80%,
	100% {
		transform: rotate(0);
	}
	82% {
		transform: rotate(-90deg);
	}
	86% {
		transform: rotate(-180deg);
	}
	90% {
		transform: rotate(-270deg);
	}
	94% {
		transform: rotate(-360deg);
	}
}
